{% extends "layout.html"%}
{% block content%}
<!-- <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.mentalfloss.com%2Farticle%2F595602%2Fnew-public-domain-books&psig=AOvVaw1ZWuM0HfPKnOP_kuAcx-Sh&ust=1619355058985000&source=images&cd=vfe&ved=2ahUKEwi3-tvp9ZbwAhULQlMKHVvZDOEQjRx6BAgAEAc" alt=""> -->
<div class="container">
  <h1 id="brand" class="text-center mt-5"> Book App</h1>
  <div class="row">
    <div id="input" class="container-fluid">
      <p> <h2>“Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers.”</h2>
        <b> – Charles W. Eliot</b></p> <br><br> <hr>
      <p> <h2>“One glance at a book and you hear the voice of another person, perhaps someone dead for 1,000 years. To read is to voyage through time.”</h2>
       <b>– Carl Sagan</b> </p>
    </div>
  </div>
</div>
{%endblock%}
    